<p></p>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Gallery</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <label>Mot cles:</label>
          <input type="text" name="motCles" ngModel required>
          <button [disabled]="!f.valid" type="submit">Chercher</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf='pagePhotos'>
  <div *ngFor='let photo of pagePhotos.hits'>
  <div class="panel panel-primary">
    <div class="panel-heading">{{photo.tags}}</div>
    <div class="panel-body">
   <img src="{{photo.previewURL}}" />
    </div>
  </div>
</div>
</div>
</div>

